/*cores dos formulários*/
:root {
  --corPrincipal: #dee6f0;
  --corComplementar: #bed4f0;
  --corBorda: #ccc;
  --corTexto: #333;
  --corTexto2: #fff;
  --corNeutroForm: #f9fcff;
  --corNeutro2: #eee;
  --corSelect: #007bff;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  body {
    font-family: sans-serif;
    line-height: 1.6;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid var(--corBorda);
    background-color: var(--corNeutroForm);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  label {
    font-weight: bold;
    
  }
  input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="submit"] {
    background-color: var(--corTexto);
    color: var(--corTexto2);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  table {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid var(--corBorda);
    background-color: var(--corNeutroForm);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 0.5em;
  }
  th {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  
  #pizzaInput {
    margin-bottom: 20px;
  }
  
  #pizzaInput label {
    display: block;
    margin-bottom: 5px;
  }
  
  #pizzaInput input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  #relatorio {
    border: 1px solid #ccc;
    padding: 10px;
  }
  